body {
  background-color: #000;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes h1 {
  0%   {transform: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

h1 {
  animation-name: h1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: transform 0.5s ease;
}

h1:hover {
  animation: none;
  transform: rotate(360deg);
}
